In [34]:
import requests
api_url = 'http://ergast.com/api/f1/drivers.json?limit=1000'
response = requests.get(api_url)
data = response.json()
driver_data = []
drivers = data['MRData']['DriverTable']['Drivers']
for driver in drivers:
    driver_data.append({
        'driver_id': driver['driverId'],
        'driver_name': driver['givenName'] + ' ' + driver['familyName'],
        'date_of_birth': driver['dateOfBirth'],
        'nationality': driver['nationality']
    })

In [37]:
import pandas as pd

driver_df = pd.DataFrame(driver_data)

In [38]:
driver_df

     driver_id       driver_name date_of_birth nationality
0        abate       Carlo Abate    1932-07-10     Italian
1    abecassis  George Abecassis    1913-03-21     British
2      acheson     Kenny Acheson    1957-11-27     British
3        adams    Philippe Adams    1969-11-19     Belgian
4         ader         Walt Ader    1913-12-15    American
..         ...               ...           ...         ...
852     zapico     Emilio Zapico    1944-05-27     Spanish
853       zhou       Guanyu Zhou    1999-05-30     Chinese
854      zonta     Ricardo Zonta    1976-03-23   Brazilian
855      zorzi       Renzo Zorzi    1946-12-12     Italian
856     zunino    Ricardo Zunino    1949-04-13   Argentine

[857 rows x 4 columns]